.button{
    border-radius: 50% ;
    display: inline-block;
    border: solid rgba(165, 42, 42, 0.753) 2px;
    margin: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.button:hover{
    background-color: rgba(165, 42, 42, 0.753);
}

.active{
    background-color: rgba(165, 42, 42, 0.753);
}